# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.risk-of-fail-f354501fbf87b0fa1969c24a647f252012a393ef.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
